<template>
    <v-row>
        <v-col>
            <v-card>
                <v-card-title>
                    <v-row>
                        <v-col cols="12">
                            <v-dialog v-model="modal" max-width="800">
                                <template v-slot:activator="{on}" class="float-right">
                                    <v-btn v-on="on" color="success">
                                        New List
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-form ref="listform" v-on:submit.prevent="addList()"
                                            v-model="valid['new_list_form']">

                                        <v-text-field
                                                label="New List"
                                                :rules="[(t) => !!t || 'This field is required', (t) => !t || t.length >= 3 ||`This field must be at least of 3 characters.`, (t) => !t || t.length <= 30 ||`This field must not be longer than 30 characters.`]"
                                                v-model="new_list"
                                                autofocus
                                        >
                                            <template v-slot:prepend>
                                                <v-btn type="submit" color="success" outlined
                                                       :disabled="!valid['new_list_form']" icon>
                                                    <v-icon>mdi-plus</v-icon>
                                                </v-btn>
                                            </template>
                                        </v-text-field>

                                    </v-form>
                                </v-card>
                            </v-dialog>
                            Task Lists
                            <v-btn color="warning" class="float-right" v-on:click="purge()">
                                Purge
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-title>
            </v-card>
            <v-expansion-panels>
                <v-expansion-panel v-for="(items, list) in lists" v-bind:key="list">
                    <v-expansion-panel-header>
                        <v-toolbar-title>
                            <v-btn color="error" icon v-on:click="removeList(list)">
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                            {{ list }}
                        </v-toolbar-title>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-list>
                            <v-list-item v-for="(item, index) in items" v-bind:key="index" v-on:click="toggle(index, list)">
                                <v-list-item-title :class="{ complete: item.complete }">
                                    {{ item.task }}
                                </v-list-item-title>
                            </v-list-item>
                        </v-list>
                        <v-form :ref="`formlist-${list}`" v-on:submit.prevent="add(list)" v-model="valid[list]">
                            <v-row>
                                <v-col>
                                    <v-text-field
                                            label="New Task"
                                            :rules="[(t) => !!t || 'This field is required', (t) => !t || t.length >= 3 ||`This field must be at least of 3 characters.`, (t) => !t || t.length <= 255 ||`This field must not be longer than 255 characters.`]"
                                            v-model="new_tasks[list]"
                                    >
                                        <template v-slot:prepend>
                                            <v-btn type="submit" color="success" outlined :disabled="!valid[list]" icon>
                                                <v-icon>mdi-plus</v-icon>
                                            </v-btn>
                                        </template>
                                    </v-text-field>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</template>

<script>
	// @ is an alias to /src
	export default {
		name: 'Home',
		data() {
			return {
				new_tasks: {},
				valid: {},
				modal: false,
				new_list: '',
			}
		},
		computed: {
			lists() {
				return this.$store.getters['lists']
			},
		},
		methods: {
			toggle(index, list) {
				this.$store.dispatch('toggle', {index: index, list: list})
			},
			purge() {
				this.$store.dispatch('purge')
			},
			add(list) {
				this.$store.dispatch('add', {
					list: list,
					task: this.new_tasks[list],
				})

                this.$refs[`formlist-${list}`][0].reset()
				//this.$refs.list[list].reset()
			},
			addList() {
				this.$store.dispatch('addList', this.new_list)
				this.$refs.listform.reset()
				this.modal = false
			},
			async removeList(list) {
				let confirm = await this.$confirm('Do you really want to delete this list?', { title: 'Warning' })
				if (confirm){
					this.$store.dispatch('removeList', list)
				}
			}
		}
	}
</script>

<style scoped>
    .complete {
        text-decoration: line-through
    }
</style>
