<template>
    <v-app>
        <v-app-bar
                app
        >
            <div class="d-flex align-center headline text-uppercase">
                List of Things Worth Listing
            </div>
        </v-app-bar>
        <v-content>
            <v-container class="mb-10">
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-bottom-navigation absolute>
            <v-btn
                    class="mx-4"
                    icon
                    v-on:click="reset()"
            >
                <v-icon>mdi-refresh</v-icon>
            </v-btn>
            <v-btn
                    class="mx-4"
                    icon
                    v-on:click="toggleColorMode()"
            >
                <v-icon>mdi-theme-light-dark</v-icon>
            </v-btn>
        </v-bottom-navigation>
    </v-app>
</template>

<script>
	export default {
		name: 'App',
        data(){
			return {
				darkMode: false
            }
        },
		methods: {
			async reset(){
				let confirm = await this.$confirm('Do you really want to reset? All lists will be lost.', { title: 'Warning' })
                if (confirm){
					this.$store.dispatch('reset')
				}
			},
            toggleColorMode(){
				this.darkMode = !this.darkMode
                this.$vuetify.theme.dark = this.darkMode
                localStorage.setItem('darkMode', JSON.stringify(this.darkMode))
            }
        },
        created(){

			if (!localStorage.darkMode){
				localStorage.setItem('darkMode', JSON.stringify(false))
            }

			if (JSON.parse(localStorage.darkMode) === true){
				this.darkMode = true
				this.$vuetify.theme.dark = true
            }
        }
	}
</script>
